/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.env
/.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
node_modules
worker.log
/config.php
/addons/*
!/addons/.gitkeep
/public/images
/public/storage
/public/addons
/public/core
/vue/node_modules
/vue/stats.html
/public/.DS_Store
.DS_Store
Thumbs.db
/modules_statuses.json
/.pnpm-debug.log
/php.code-workspace
/addons
/install_lock.html
/public/index.html

